<html>
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' type='text/css' href='sample.css'>
  <style type="text/css">
    body {
     background-image: url(london.jpg);
    }
  </style>
</head>
<body>
<div id="main">
  <ul>
    <li><a href="london">LONDON</a></li>
    <li><a href="newyork">NEW YORK</a></li>
    <li><a href="tokyo">TOKYO</a></li>
  </ul>
</div>
</body>


</html>
